#Pycache
Proyecto/__pycache__/*
api/__pycache__/*
api/migrations/__pycache__/*
api/services/__pycache__/*
api/terms/__pycache__/*
api/usuarios/__pycache__/*
api/propuestas/__pycache__/*
api/trabajosdegrado/__pycache__/*
api/defensas/__pycache__/*
api/correcioness/__pycache__/*

# virtualenv
.venv
venv/